#!/usr/bin/make -f
# $Id: rules,v 1.8 2005/01/11 08:02:29 jonas Exp $
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
#export DH_COMPAT=2   # this should work if your debhelper is older!
export DH_COMPAT=4

build: build-stamp
build-stamp:
	dh_testdir

	# compiling without X, since it only needed for RESETTING xterm title
	# comp. with GNUTLS due to license restictions.
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
	--sysconfdir=/etc/elinks \
	--without-openssl --without-x --with-gnutls=/usr
	# --enable-debug
	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf debian/elinks/

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	# handle non-linux archs, patch by Robert Millan <rmh@debian.org>, bug#262350
	cat debian/control.in \
	| sed "s/@linux-gnu@/`type-handling any linux-gnu`/g" \
	> debian/control

	dh_clean -XChangelog.orig

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/elinks.
	$(MAKE) install DESTDIR=`pwd`/debian/elinks
	
	mkdir -p debian/elinks/etc/elinks
	install -o root -g root -m 644 contrib/elinks.conf debian/elinks/etc/elinks/elinks.conf
# KDE menu integration
	mkdir -p debian/elinks/usr/share/applnk/Internet/
	cp debian/elinks.desktop debian/elinks/usr/share/applnk/Internet/
# upstream CVS bug hack: remove double contrib dirs
	-rm -rf contrib/lua/lua contrib/conv/conv contrib/guile/guile
# locale.alias causes conflicts and I believe it's not necessary
	-rm -f debian/elinks/usr/share/locale/locale.alias

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs
	dh_installexamples \
		-X CVS -X .cvsignore -X Makefile.am -X Makefile.in -X colws.diff \
		-X elinks.spec -X hooks.lua.in -X links_wps.zip -X wipe-out-ssl \
		-X LinksOS2Icon.zip contrib/

# remove CVS directories, Makefiles and other useless files (from contrib/)
# XXX: Keep after installation of directories
	-find debian/elinks -name "js-*.patch" -exec rm -rf "{}" \;
	-find debian/elinks -name Makefile -exec rm -rf "{}" \;

	dh_installmime
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
##	dh_installcron
# The build system installs the manpages
#	dh_installman

# comment out for slink:
##	dh_installinfo

#	dh_undocumented
	dh_installchangelogs ChangeLog changelog.orig

# comment out for slink:
##	dh_link
	
	dh_strip
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
##	dh_suidregister
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
