
/* style.css 9. marts 2002 - inspireret af sslugs linuxbog.css */

/* Først lidt generelle (taget fra sslug.css) :*/

BODY {
    color:              black;
    background:         white;
    margin:             10pt 10pt;
    font-family: Verdana, Helvetica, sans-serif;
}

H1, H3, H5, H2, H4, H6 {
    font-family: Verdana, Helvetica, sans-serif;
    color: #075a91;
}

H1 { font-size: 1.5em; }
H2 { font-size: 1.3em;}
H3 { font-size: 1.2em; }
H4 { font-size: 1.1em; }
H5 { font-size: 1.1em; }
H6 { font-size: 1em; }

DT, LEGEND, CAPTION, TH, THEAD, TFOOT {
    color:              black;
    background:         white;
}

PRE, CODE, TT   {
    font-family:        monospace;
}

EM {
    font-style:         normal;
    font-weight:        bold;
}

STRONG {
    font-style:         italic;
    background:         #000060;
    font-weight:        bold;
    color:              #F5F5F5;
}

EM STRONG, STRONG EM {
    text-transform:     uppercase;
    font-style:         normal;
    font-weight:        bolder;
    background:         #000060;
    color:              #F5F5F5;
}

.warning {
    text-transform:     none;
    font-style:         normal;
    font-weight:        bolder;
    background:         white;
    color:              red;
}

ADDRESS {
    font-style:         normal;
    letter-spacing:     .1em;
}


A:link {
    text-decoration:    underline;
    color:              #0000EE;
    background:         white;
}

A:visited {
    text-decoration:    underline;
    color:              #551A8B;
    background:         white;
}

A:active {
    text-decoration:    underline;
    color:              red;
    background:         white;
}

A:hover {
    text-decoration:    underline;
    color:              red;
    background:         white;
}

A.offsite {
    text-decoration:    underline;
    color:              #000F63;
    background:         white;
}

.allblue {
    background:         #4179ac;
    color:              #4179ac;
}

LI,DD {
    line-height:        120%;
}

/* docbook specifikke classes */

.USERINPUT {
    font-family:        monospace;
    font-weight:        bold;
}

.PROMPT {
    font-family:        monospace;
    font-weigt:         normal;
}

.SCREEN {
    background-color:   #f0f0f0;
    color:              #005A9C;
    padding-top:        10px;
    padding-left:       10px;
    padding-bottom:     10px;
}

.COMMAND {
    font-family:        monospace;
    font-weight:        bold;
}

.FILENAME {
    font-weight:        bold;
}
